.file-loan{
	#updateFileLoanModal{
		@include modal();
		.update-file-loan-info{
			display: none;
		}
		.update-file-loan-btn{
			display: none;
		}
	}
	#addFileLoanModal{
		@include modal();

		.add-program-section{
			display: none;
		}
	}
	#scheduleFileLoanModal{
		@include modal();
		.schedule-file-loan-info{
			display: none;
		}
		.schedule-file-loan-data-btn{
			display: none;
		}
		.for-simkimban{
			display: none;
		}
	}
}