.pagibig{
	#editPagibigModal{
		@include modal();
		.pagibig-info{
			display: none;
		}
		.update-pagibig-btn{
			display: none;
		}
	}
	#adjustPagibigModal{
		@include modal();
		.adjust-pagibig-info{
			display: none;
		}
		.adjust-pagibig-btn{
			display: none;
		}
	}
	#addEmployeeToPagibigModal{
		@include modal();
	}
}