.salary{
	#editSalaryLoanModal{
		@include modal();
		.salary-loan-info{
			display: none;
		}
		.update-salary-loan-btn{
			display: none;
		}
	}
	#adjustSssModal{
		@include modal();
		.adjust-salary-loan-info{
			display: none;
		}
		.adjust-salary-loan-btn{
			display: none;
		}
	}
	#existingSalaryLoanHistoryModal{
		@include modal();
	}
}