.simkimban{
	#editSimkimbanModal{
		@include modal();
	}
	.simkimban-info{
		display: none;
	}
	.update-simkimban-btn{
		display: none;
	}
	#adjustSimkimbanModal{
		@include modal();
	}
	#simkimbanHistoryModal{
		@include modal();
		.simkimban-history-info{
			display: none;
		}
	}
}