.top-navbar{
    background:#212529;
    width: 100%;
    min-height: 50px;
    color:white;
    padding:15px 20px;
    a{
        font-weight: bold;
        font-family: sans-serif;
        color:white;
        &:hover{
            text-decoration:none;
        }
        img{
            width: 30px;
            height: 30px;

        }
        letter-spacing: 4px;
    }
    .buttons{
        line-height: 30px;
        button{
            color:white;
            background:none;
            border:none;
            &:focus{
                outline: 0 !important;
            }
            
        }
        #accountDropdown{
            line-height: 35px !important;
        }
        .accountDropdown{
            top: 23px !important;
            left: -142px;
        }
    }
}