.cashbond{
    #editCashbondValueNoModal{
        @include modal();
        .cashbond-info{
            display:none;
        }
        .update-cashbond-btn{
            display: none;
        }
    }
    #viewCashbondHistoryModal{
        @include modal();
        .cashbond-history-info{
            display:none;
            .ref-no{
                display:none;
            }
        }
        .print-cashbond-history-btn{
            display: none;
        }
    }
    
}