.cashbond{
    #editCashbondValueNoModal{
        @include modal();
        .cashbond-info{
            display:none;
        }
        .update-cashbond-btn{
            display: none;
        }
    }
    #viewCashbondHistoryModal{
        @include modal();
        .cashbond-history-info{
            display:none;
            .ref-no{
                display:none;
            }
        }
        .print-cashbond-history-btn{
            display: none;
        }
    }
    #addCashbondDepositModal{
        @include modal();
        .deposit-cashbond-info{
            display:none;
        }
        .submit-deposit-cashbond-btn{
            display:none;
        }
    }
    #adjustCashbondModal{
        @include modal();
        .adjust-cashbond-info{
            display:none;
        }
        .submit-adjust-cashbond-btn{
            display:none;
        }
    }
    
    
}
.cash-withdrawal{
    #cashWithdrawalModal{
        @include modal();
    }
}
#editCashbonWithdrawalModal{
    @include modal();
}