.working-schedule{
    .title{
        font-weight: bold;
        font-size: 25px;
    }
    #addWorkingDaysModal{
        @include modal();
    }
    #updateWorkingDaysModal{
        @include modal();
        .update-working-days-info, .update-working-days-btn{
            display:none;
        }
    }
}