.working-schedule{
    .title{
        font-weight: bold;
        font-size: 25px;
    }
    #addWorkingDaysModal{
        @include modal();
    }
    #updateWorkingDaysModal{
        @include modal();
        .update-working-days-info, .update-working-days-btn{
            display:none;
        }
    }
    .working-days{
        display: none;
    }
    #addWorkingHoursModal{
        @include modal();
    }
    #updateWorkingHoursModal{
        @include modal();
        .update-working-hours-info{
            display: none;
        }
        .update-working-hours-btn{
            display: none;
        }
    }
}