.generate-payroll{
    .generate-payroll-notes{
        height: 100%;
    }
    .loading-generating{
        display:none;
    }
    .generated-payroll-body{
        .generated-payroll-content{
            height: auto;
            width: 100%;
            border: 1px solid gray;
            padding:20px 20px;
            margin-top: 10px;
            img{
                height: 30px;
                width: 30px;
            }
            .title-lloyds{
                font-weight: bold;
                font-size: 12px;
            }
            .titles{
                font-weight:bold;
                font-size: 13px;
            }
            .earnings{
                background:#ECECED;
                border-radius: 5px;
                padding:10px 10px;
                margin-top: 10px;
            }
        }
    }
}